@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Space+Grotesk:wght@300;500&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #020202;
    background-image: 
        radial-gradient(at 0% 0%, hsla(180,100%,50%,0.05) 0, transparent 50%), 
        radial-gradient(at 50% 0%, hsla(280,100%,50%,0.05) 0, transparent 50%);
}

.hud-card {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(0, 243, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 15px;
    height: 190px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.hud-card:hover {
    border-color: #00f3ff;
    background: rgba(0, 243, 255, 0.03);
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.1);
}

.hud-card span {
    font-family: 'Orbitron', sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    color: rgba(0, 243, 255, 0.6);
    margin-bottom: 12px;
}

.neon-border-red { border-color: rgba(255, 0, 85, 0.2) !important; }
.neon-border-red:hover { border-color: #ff0055 !important; }
